{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
    {{ with .Params.image }}
    <meta property="og:image"       content="{{ . | absURL }}">
    <meta property="og:image:url"   content="{{ . | absURL }}">
    {{ end }}
{{ else }}
    <meta property="og:image"       content="{{ .Site.Params.og_image | absURL }}">
    <meta property="og:image:url"   content="{{ .Site.Params.og_image | absURL }}">
{{ end }}

{{- if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
  <meta property="og:description" content="{{ .Summary }}" />
  <meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{- with .Site.Params.facebookAppId }}
  <meta property="fb:app_id" content="{{ . }}" />
{{- end }}

{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-blog-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="blog blog-single">
        <h1 class="title">{{.Title}}</h1><p>{{ .Date.Format "2006/01/02" }}</p>
        <img alt="Photo of {{ .Title }}" class="img-fluid mb-5" src="{{ .Params.image | relURL }}" />
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}