{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-blog-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="blog blog-single">
        <h1 class="title">{{.Title}}</h1><p>{{ .Date.Format "2006/01/02" }}</p>
        <img alt="Photo of {{ .Title }}" class="img-fluid mb-5" src="{{ .Params.image | relURL }}" />
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}