<div class="blog blog-summary box2">
        {{ if .Params.image }}
        <div class="blog-image col-md-4">
            <img alt="Photo of {{ .Title }}" class="img-fluid" src="{{ .Params.image | relURL }}" />
        </div>
        {{ end }}
        <div class="blog-content col-md-8">
            <h2 class="blog-title">{{ .Title }}</h2>
            <div class="blog-snippet"><p>{{ .Description }}</p></div><br>
            <div class="blog-datetime"><p>{{ .Date.Format "2006/01/02" }}</p></div>
        </div>
</div>