<!-- スライダーのメインコンテナの div 要素 -->
<div class="swiper-container">
    <!-- ラッパーの（スライドを囲む） div 要素 -->
    <div class="swiper-wrapper">
        <!-- それぞれのスライドの div 要素 -->
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <picture>
                <source type="image/webp" srcset="{{ .webp }}">
                <img src="{{ .image }}" alt="">
            </picture>
            <div class="s-fade-txt">
                <p class="text-4xl text-white">{{ .title }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <!-- ページネーションの div 要素 -->
    <div class="swiper-pagination"></div>

    <!-- ナビゲーションボタンの div 要素-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
