<div
    style="max-width: 560px;padding: 20px;background: #ffffff;border-radius: 5px;margin:40px auto;font-family: Open Sans,Helvetica,Arial;font-size: 15px;color: #666;">

    <div style="color: #444444;font-weight: normal;">
        <div
            style="text-align: center;font-weight:600;font-size:26px;padding: 10px 0;border-bottom: solid 3px #eeeeee;">
            技術科部</div>

        <div style="clear:both"></div>
    </div>

    <div style="padding: 0 30px 30px 30px;border-bottom: 3px solid #eeeeee;">

        <div style="padding: 30px 0;font-size: 24px;text-align: center;line-height: 40px;">サイトに招待されました！<span
                style="display: block;"></span></div>

        <div style="padding: 10px 0 50px 0;text-align: center;"><a href="{{ .ConfirmationURL }}"
                style="background: #555555;color: #fff;padding: 12px 30px;text-decoration: none;border-radius: 3px;letter-spacing: 0.3px;">参加する</a>
        </div>

        <div style="padding: 15px;background: #eee;border-radius: 3px;text-align: center;">

            <div>もしこのメールに身に覚えがない場合は破棄してください。</div>
            <div>また、わからない点などはお問い合わせください。</div>

        </div>

    </div>

    <div style="color: #999;padding: 20px 30px">

        <div style="">{{ .SiteURL }}</div>
        <div style=""><a href="{{ .SiteURL }}" style="color: #3ba1da;text-decoration: none;">技術科部</a></div>

    </div>

</div>